<section>
  <div class="container py-3">
    <div class="row">
      <div class="col-md-8">
        <ul class="users">
          <li *ngFor="let user of users" [class.selected]="user === selectedUser">
            <div class="card mb-2" id="User_{{user.userId}}">
              <div class="card-body">
                <h4 class="card-title">
                  <strong>{{user.fullName}}</strong>
                </h4>
                <p class="card-text" *ngIf="user.employeeId">
                  <strong>Employee Id: </strong>{{user.employeeId}}
                </p>
                <p class="card-text" *ngIf="user.projectId >= 0">
                  <strong>Project: </strong>
                  <a routerLink="." fragment="Project_{{user.projectId}}">{{getProjectSummary(user.projectId)}}</a>
                </p>
                <button type="button" class="btn btn-primary btn-sm waves-light" mdbWavesEffect (click)="onSelect(user)">
                  <i class="fa fa-lg fa-edit mr-1"></i> Edit</button>
                <button type="button" class="btn btn-danger btn-sm waves-light" (click)="delete(user)" mdbWavesEffect>
                  <i class="fa fa-lg fa-remove mr-1"></i> Delete User</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <app-add-update-user 
          [user]="selectedUser" 
          [allProjectNames]="allProjectNames" 
          [mode]="activeMode" 
          (userAdded)="onUserAdded($event)"
          (userUpdated)="onUserUpdated($event)" 
          (resetMode)="onResetMode($event)"></app-add-update-user>
      </div>
    </div>
  </div>
</section>
