<section>
  <div class="container py-3">
    <h3 class="feature-title">Users</h3>
    <div class="bc-icons-2">
      <ol class="breadcrumb indigo lighten-4">
        <li class="breadcrumb-item"><a class="black-text" href="#">Home</a>
          <mdb-icon icon="caret-right" class="mx-2"></mdb-icon>
        </li>
        <li class="breadcrumb-item active">Users</li>
      </ol>    
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card mb-2">
          <div class="card-body">
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Filter by name" [(ngModel)]="filterText" id="filterByFullName" class="form-control" mdbInputDirective [mdbValidate]="false">
            </div>
            Sort By: 
            <button mdbBtn type="button" class="btn btn-secondary btn-sm waves-light" mdbWavesEffect [(ngModel)]="sortBy" mdbRadio="firstName" btnCheckboxTrue="1" btnCheckboxFalse="0" (click)="sort('firstName')">
              First Name
            </button>
            <button mdbBtn type="button" class="btn btn-secondary btn-sm waves-light" mdbWavesEffect [(ngModel)]="sortBy" mdbRadio="lastName" btnCheckboxTrue="1" btnCheckboxFalse="0" (click)="sort('lastName')">
              Last Name
            </button>
            <button #sortByEmployeeId mdbBtn type="button" class="btn btn-secondary btn-sm waves-light" mdbWavesEffect [(ngModel)]="sortBy" mdbRadio="employeeId" btnCheckboxTrue="1" btnCheckboxFalse="0" (click)="sort('employeeId')">
              Employee Id
            </button>
          </div>
        </div>
        <ul class="users">
          <li *ngFor="let user of filter()" [class.selected]="user === selectedUser">
            <div class="card mb-2" id="User_{{user.userId}}">
              <div class="card-body">
                <h4 class="card-title">
                  <strong>{{user.fullName}}</strong>
                </h4>
                <p class="card-text" *ngIf="user.employeeId">
                  <strong>Employee Id: </strong>{{user.employeeId}}
                </p>
                <p class="card-text" *ngIf="user.projectId >= 0">
                  <strong>Project: </strong>
                  <a routerLink="." fragment="Project_{{user.projectId}}">{{getProjectSummary(user.projectId)}}</a>
                </p>
                <button type="button" class="btn btn-primary btn-sm waves-light" mdbWavesEffect (click)="onSelect(user)">
                  <i class="fa fa-lg fa-edit mr-1"></i> Edit</button>
                <button type="button" class="btn btn-danger btn-sm waves-light" (click)="delete(user)" mdbWavesEffect>
                  <i class="fa fa-lg fa-remove mr-1"></i> Delete User</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <app-add-update-user 
          [user]="selectedUser" 
          [allProjectNames]="allProjectNames" 
          [mode]="activeMode" 
          (userAdded)="onUserAdded($event)"
          (userUpdated)="onUserUpdated($event)" 
          (resetMode)="onResetMode($event)"></app-add-update-user>
      </div>
    </div>
  </div>
</section>
