<section class="section feature-box">

    <!--Section heading-->
    <h1 class="section-heading pt-4">FSD .Net Program</h1>
    <h3 class="section-heading pt-2">Project Manager</h3>
    <h5 class="section-heading pt-1">By Somnath Mukherjee</h5>
    <!--Section description-->
    <p class="section-description lead grey-text">The Project Manager is a Single Page Application (SPA) to manage projects, users and tasks.</p>

    <!--Grid row-->
    <div class="row features-small pt-2">

        <!--Grid column-->
        <div class="col-lg-5 mb-r center-on-small-only">
            <img src="https://github.com/somnathmukherjee81.png" alt="Somnath Mukherjee" class="img-fluid z-depth-0">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7">

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-12">
                    <h5 class="feature-title">Contact</h5>
                    <p class="grey-text"><i class="fa fa-envelope"></i> Email: <a href="mailto:somnath.mukherjee@cognizant.com" target="blank">somnath.mukherjee@cognizant.com</a></p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-12">
                    <h5 class="feature-title">Social</h5>
                    <p class="grey-text"><i class="fa fa-facebook"></i> Facebook: <a href="https://www.facebook.com/somnathmukherjee81" target="blank">somnathmukherjee81</a></p>
                    <p class="grey-text"><i class="fa fa-twitter"></i> Twitter: <a href="https://twitter.com/shyamarcciit" target="blank">shyamarcciit</a></p>
                    <p class="grey-text"><i class="fa fa-instagram"></i> Instagram: <a href="https://www.instagram.com/somnathmukherjee81" target="blank">somnathmukherjee81</a></p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-12">
                    <h5 class="feature-title">Technology</h5>
                    <p class="grey-text"><i class="fa fa-github"></i> Github: <a href="https://github.com/somnathmukherjee81" target="blank">somnathmukherjee81</a></p>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.3-->