<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar ie-nav" [containerInside]="true">
  <logo>
    <a class="logo navbar-brand" routerLink="/home">
      <strong>{{title}}</strong>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a>
      </li>
      <!-- <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Add Task</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">View Task</a>
      </li> -->
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="https://www.facebook.com/somnathmukherjee81" target="blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="https://twitter.com/shyamarcciit" target="blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="https://www.instagram.com/somnathmukherjee81" target="blank">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>

    <!-- Search form -->
    <!-- <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form mt-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div>
    </form> -->
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="container" style="height:1300px;">
    <div class="row mt-5 pt-5">
      <div class="col">
        <router-outlet></router-outlet>
        <!-- <app-messages></app-messages> -->
      </div>
    </div>
  </div>
</main>
<!-- /.Main -->

<!--Footer-->
<footer class="footer-copyright indigo lighten-2 py-3 text-center text-white fixed-bottom">
  © 2018 Copyright:
  <a class="text-white" href="https://mdbootstrap.com/material-design-for-bootstrap/"> Somnath Mukherjee </a>
</footer>
<!--/.Footer-->
