<div class="card mb-2 sticky-top">
  <div class="card-body" *ngIf="task">
    <h4 class="card-title">
      <strong>{{title}}</strong>
    </h4>
    <div class="md-form">
      <label for="summary" class="">Summary</label>
      <input type="text" id="summary" class="form-control" [(ngModel)]="task.summary" mdbInputDirective>
    </div>
    <div class="md-form">
      <label for="description">Description</label>
      <textarea type="text" id="description" class="md-textarea form-control" [(ngModel)]="task.description" mdbInputDirective></textarea>
    </div>
    <div class="md-form">
      <label>Start Date</label>
      <input type="date" id="startDate" class="form-control" [(ngModel)]="task.startDate" mdbInputDirective placeholder="">
    </div>
    <div class="md-form">
      <label>End Date</label>
      <input type="date" id="endDate" class="form-control" [(ngModel)]="task.endDate" mdbInputDirective placeholder="">
    </div>
    <div class="md-form">
      <label for="priority" class="">Priority</label>
      <input type="range" id="priority" class="form-control" [(ngModel)]="task.priority" mdbInputDirective min="0" max="4"
        step="1">
    </div>
    <div class="md-form">
      <span class="grey-text">Project</span>
      <!-- <select id="projectId" class="form-control" [(ngModel)]="task.projectId">
        <option *ngFor="let projectName of allProjectNames" [value]="projectName.id">{{projectName.summary}}</option>
      </select> -->
      <ng-select id="projectId" [items]="allProjectNames"
           bindLabel="summary"
           bindValue="id"
           [(ngModel)]="task.projectId">
      </ng-select>
    </div>
    <div class="md-form">
      <span class="grey-text">Assigned To</span>
      <!-- <select id="userId" class="form-control" [(ngModel)]="task.userId">
        <option *ngFor="let userName of allUserNames" [value]="userName.id">{{userName.fullName}}</option>
      </select> -->
      <ng-select id="userId" [items]="allUserNames"
           bindLabel="fullName"
           bindValue="id"
           [(ngModel)]="task.userId">
      </ng-select>
    </div>
    <div class="md-form">
      <span class="grey-text">Parent</span>
      <!-- <select id="parentId" class="form-control" [(ngModel)]="task.parentId">
        <option *ngFor="let taskName of allTaskNames" [value]="taskName.id">{{taskName.summary}}</option>
      </select> -->
      <ng-select id="parentId" [items]="allTaskNames"
           bindLabel="summary"
           bindValue="id"
           [(ngModel)]="task.parentId">
      </ng-select>
    </div>
    <div class="md-form">
      <span class="grey-text">Status</span>
      <!-- <select id="status" class="form-control" [(ngModel)]="task.status">
        <option value="NotStarted">Not Started</option>
        <option value="InProgress">In Progress</option>
        <option value="Deferred">Deferred</option>
        <option value="Suspended">Suspended</option>
        <option value="Completed">Completed</option>
      </select> -->
      <ng-select id="status" [(ngModel)]="task.status">
        <ng-option value="NotStarted">Not Started</ng-option>
        <ng-option value="InProgress">In Progress</ng-option>
        <ng-option value="Deferred">Deferred</ng-option>
        <ng-option value="Suspended">Suspended</ng-option>
        <ng-option value="Completed">Completed</ng-option>
      </ng-select>
    </div>
    <div class="md-form">
      <button type="button" class="btn btn-default btn-md waves-light" (click)="save()" mdbWavesEffect>
        <i class="fa fa-lg fa-save mr-1"></i> {{saveButtonTitle}}</button>
      <button type="button" class="btn btn-blue-grey btn-md waves-light" (click)="cancel()" mdbWavesEffect>
        <i class="fa fa-lg fa-remove mr-1"> </i> {{cancelButtonTitle}}</button>
    </div>
  </div>
</div>
